body {
    background-color: rgba(172, 178, 181, 0.591);
    font-family: "Lucida Sans", sans-serif;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}


/* container for one episode */


/* .episodeList { */


/* border-radius: 5px; */


/* text-align: justify; */


/* } */

.episode {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    width: 100%;
    height: auto;
}


/* (Name,Season, Number, Episode, Number) or episodeTitle with grey border*/

.episodeTitle {
    border: solid;
    border-color: rgb(90, 94, 94);
    border-radius: 5px;
    height: 80px;
    text-align: center;
    margin: 5px;
}

.imageUrl {}


/* 
The aim is to replicate the level 100 with html and css and then go to the next level
resources 
https://github.com/samanthaming/Flexbox30
https://github.com/billfienberg/flexbox-froggy
https://css-tricks.com/almanac/properties/j/justify-content/

grid system
https://github.com/CodeYourFuture/simple-grid
https://rachelandrew.co.uk/archives/2016/03/30/should-i-use-grid-or-flexbox/
https://gridbyexample.com/examples/
https://www.youtube.com/watch?v=jV8B24rSN5o
*/


/*tps: //www.youtube.com/watch?v=jV8B24rSN5o
*/