body {
  background-color: rgba(172, 178, 181, 0.591);
  font-family: Arial, Helvetica, sans-serif, Lucida Sans;
}
/* this is the container div for all the tv-content */
.episodeDiv {
  border-radius: 5px;
  background-color: white;
  height: 420px;
  padding: 5px;
  margin: 5px;
  overflow: auto;
}

/* (Name,Season, Number, Episode, Number) or episodeTitle with grey border*/

.episodeTitle {
  border: solid 3px;
  border-color: rgb(90, 94, 94);
  border-radius: 5px;
  height: 80px;
  text-align: center;
  margin: 15px;
  padding: 5px;
}

.imageUrl img {
  width: 100%;
}
/* oh my god, we need to add overflow to whole div for the text to stay within the container and it adds a scrollbar on the side for those affected containers with additional text.
https://css-tricks.com/the-css-overflow-property/
"Auto will show scrollbar if and only if the content overflows; but scroll will always show the scrollbar, whether the content is overflowing or not."
from https://stackoverflow.com/questions/6689412/difference-between-html-overflow-auto-and-overflow-scroll
*/

/* 
The aim is to replicate the level 100 with html and css and then go to the next level
resources 
https://github.com/samanthaming/Flexbox30
https://github.com/billfienberg/flexbox-froggy
https://css-tricks.com/almanac/properties/j/justify-content/

grid system
https://github.com/CodeYourFuture/simple-grid
https://rachelandrew.co.uk/archives/2016/03/30/should-i-use-grid-or-flexbox/
https://gridbyexample.com/examples/
https://www.youtube.com/watch?v=jV8B24rSN5o
*/

/*tps: //www.youtube.com/watch?v=jV8B24rSN5o